# Build output
bin/
obj/

# VS & Rider
.vs/
.idea/
*.user
*.suo

# Logs
*.log

# Publish output
publish/
dist/

# Node / tooling
node_modules/
**/node_modules/

# OS junk
Thumbs.db
.DS_Store

# dotnet tooling
*.nvuser
*.vsp
*.vspx
*.psess
*.pidb
*.svclog
*.sqlite-journal
